.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 64px;
  width: 100%;

}

  .sagas {
    color: white;
    position: absolute;
    top: 5px;
    right: 300px;
  }

  .word1 {
    color: rgba(255, 255, 255, 0.85);
  }
  .word2 {
    color: rgba(255, 255, 255, 0.85);
  }

.bar__logo {
  margin: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}

.bar__links {
  display: flex;
  height: 100%;
  align-items: center;
}