.firstword {
  background-color: black;
  font-family: JosefinSans;
  font-size: 24px;
  font-weight: bold;
  color: #aec337;
  margin: 0 5px 0 10px;
}

.secondword {
  background-color: black;
  font-weight: normal;
  font-family: JosefinSans;
  font-size: 24px;
  color: white;
  margin: 0;
}

.img_logo {
  height: 30px;
  width: 30px;
} 