.body{
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to top, rgba(51, 80, 102), rgba(21,32,41));
}
.content {
  width: 100%;
  
  margin-top: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.post {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 656px;
    width: 480px;
  }

  .post__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }