.page{
  position: relative;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.user {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  /*border: 1px solid white;*/
}

.foto {
    display: flex;
    position: relative;
    top: 64px;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
  }

  .name {
    display: flex;
    position: relative;
    top: 80px;
    left: 67px;
    justify-content: center;
    border: 1px solid white;
    width: 172px;
    height: 36px;
    font-family: Roboto;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    color: white;
  }
  .text {
    width: 384px;
    height: 72px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: white;
    border: 1px solid white;
    position: relative;
    top:132px;
    right: 125px;


  }
  .edit {
    display: flex;
    position: relative;
    top:89px;
    left:406px;

    width: 18px;
    height: 18px;
  }
 
  .Timelapses {
    width: 125px;
    height: 24px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: white;
    position: relative;
    top: 228px;
    right: 500px;

  }
  .Shots {
    width: 125px;
    height: 24px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: white;
    position: relative;
    top: 228px;
    right: 400px;


  }