.footer {
    position: relative;
    bottom: 0;
    right: 0;
    background-color: black;
    height:100px;
    width:100%;

    @media(max-width: 1300px) {
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }

  .block1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: 0;
    left: 300px;
    height: 100px;
    width: 300px;
    
  }
  .block2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    bottom: 100px;
    left: 605px;
    height: 100px;
    width: 300px;
    
  }
  .bw1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -15px;
    font-size: 20px;
   


  }
  .bw2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -35px;
    font-size: 20px;
    

  }
  .w1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -15px;
    font-size: 20px;

  }
  .w2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -35px;
    font-size: 20px;

  }