.body{
  width: 100%;
}
.content {
  max-width: 100%;
  background-color: #335066;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.post {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
  }

  .post__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }