.notif__outer {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 100%;
    border: 1px solid white;
    flex-flow: row wrap;
  }
.notif {
   border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 650px;
    margin: 2px;
  }
  .notific:active::after {
    height: 2px;
    background: #aec337;
    content: '';
    width: 150px;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.4s;
    transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
    left: 50%;
    margin-top: 2rem;
  }