.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 64px;
  width: 100%;

}.bar__logo {
  margin: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 150px;
  
}

.bar__links {
  position: relative;
  display: flex;
  height: 100%;
  width: 500px;
  align-items: center;
  justify-content: space-between ;
  
}
.avatar{
  margin-left: 56px;
  margin-right: 28px;
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-radius: 100%;
}
.settings{
  margin-right: 23px;
}


  .sagas {
    color: white;
  }

  .word1 {
    color: rgba(255, 255, 255, 0.85);
  }
  .word2 {
    color: rgba(255, 255, 255, 0.85);
  }

