.footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  justify-content: space-between;
    background-color: black;
    height: 88px;
    width:100%;
  }
.block__logo{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 150px;
}
  .block1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    width: 300px;
  }
  .block2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    width: 300px;
    
  }
  .block3 {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .social {
    margin-right: 52px;
    position: relative;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .img2,.img3{
    margin-left: 10px ;
  }
