.footer {
    position: relative;
    background-color: black;
    height:100px;
    width:100%;

    @media(max-width: 1300px) {
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }

  .block1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: 0;
    left: 300px;
    height: 100px;
    width: 300px;
    
  }
  .block2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    bottom: 100px;
    left: 605px;
    height: 100px;
    width: 300px;
    
  }
  .bw1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -15px;
    font-size: 20px;
   


  }
  .bw2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -35px;
    font-size: 20px;
    

  }
  .w1 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -15px;
    font-size: 20px;

  }
  .w2 {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: -35px;
    font-size: 20px;

  }
  .block3 {
    position: relative;
    bottom: 200px;
    left: 1000px;
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .appstore {
    position: relative;
    top: -60px;
    right: 320px;
    
  }
  .google {
    position: relative;
    top: -60px;
    right: 120px;
   
  }
  .social {
    position: relative;
    top: -60px;
    left: 80px;
    
  }
  .img1, .img2 {
    width: 150px;
    height: 50px;
  }
  .img3 {
    width: 170px;
    height: 40px;
  }
