body {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(51, 80, 102), rgba(21,32,41));
    overflow: hidden;
}